/*
Navbar.php
*/

body {
  margin:0px;
  padding-top: 30px;
}

navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

/*
index.php
 */

.jumbotron-custom{
  margin-top: -20px;
  position: absolute;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("ski.jpg");
  background-size: 100% 100%;
  background-size: cover;
}

.jumbotron-custom .seOvelser {

}

.well {
  position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

/*
Registrer.php
*/

#registrer {
  background-image: url("../finalproject/registerphoto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.skjema {
  background-color: AliceBlue;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  border-radius: 10px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  margin-top: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table td {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}

.buttonholder {
  text-align: center;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

.container {
  margin-top: 100px;
  text-align: center;
  max-height: 100%;
}

.container #resetPassword {
margin-top: 100px;
margin-bottom: 100px;
}

/*
Minprofil.php
 */

.jumbotron {
  margin-top: -50px;
  background-color: silver;
}

#oppdaterInfo h3, h5 {
  text-align: center;
}

/*
Adminpanel.php
*/

.custom {
    width: 250px !important;
}
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

/*
Footer.php
*/
